.gameContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  & > h1 {
    grid-column: 1 / -1;
  }

  & > article {
    display: flex;

    & > a {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      border-radius: 0 0 5px 5px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
      color: inherit;
      text-decoration: none;
      
      & > img {
        max-width: 100%;
      }

      & > h2 {
        margin-top: auto;

        font-size: 1.6rem;
        text-align: center;
      }
    }
  }
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  height: 6.1rem;
  width: 6.1rem;

  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 6rem;
}
