.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--primary-dark-color);
  color: var(--text-on-dark-color);
  z-index: 1000;
}

.mainMenu {
  display: flex;
  flex-grow: 1;

  margin: -.5rem 0 0 0;
  padding: 0;

  list-style: none;

  /* CSS nesting */
  & a {
    /* .mainMenu a { } */
    display: inline-block;
    padding: 1rem;

    color: inherit;
    text-decoration: none;

    &:hover {
      /* .mainMenu a:hover { } */
      text-decoration: underline;
    }

    &.special {
      color: red;
    }

    &.active {
      color: var(--secondary-color);
    }

  }
}

.pushRight {
  margin-left: auto;
}

.logo {
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

.logo:visited,
.logo:hover,
.logo:active {
  color: #ffffff;
}